.navbar {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    padding: 30px;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.navbar .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.navbar .log a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 25px 25px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.navbar .logo a span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding: 25px 25px;
    color: var(--text-black-900);
}

.navbar .logo a::before {
    color: var(--text-black-900);
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.navbar .logo a::after {
    color: var(--text-black-900);
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.navbar .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.navbar .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.navbar .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 0;
}

.navbar .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
}

.navbar .nav {
    margin-top: 50px;
}

.navbar .nav li {
    margin-bottom: 20px;
    display: block;
}

.navbar .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.navbar .nav li a.active {
    color: var(--skin-color);
}
@media (max-width: 2199px) {
    .navbar {
        left: -270px;
    }

    .navbar.open {
        left: 0;
    }

    .navbar .nav-toggler {
        display: flex;
        left: 300px;
    }

    .navbar .nav-toggler.open {
        left: 25px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 250px;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}